@page "/Packages"


<h2 style="text-align:center">Packages Offered</h2>

<hr style="width: 100%; border: 1px solid gray;" />

<div class="row">
<div class="col-sm-6">
        <p>
            1) The Hummingbird Package (full spectrum)
            <ul>
                <li>
                    Two, two hour prenatal visits
                </li>
                <li>
                    Being “on call” from 38wks GA until labor
                    This is booked out but i will still attend if they deliver before 38
                </li>
                <li>
                    Two, two hours postpartum visits
                </li>
                <li>
                    10 hrs of postpartum doula support
                    Minimum of 3 hrs per session
                    This service is not meant to replace babysitting or housekeeping services
                </li>
                <li>
                    Unlimited email, text and phone support
                </li>
            </ul>
        </p>
    </div>
    <div class="col-sm-6">

        </div>
</div>
<hr style="width: 100%; border: 1px solid gray;" />


<div class="row">
<div class="col-sm-6">

    </div>
    <div class="col-sm-6">
        <p>
            2) The Daylily Package (smaller Hummingbird package)

            <ul>
                <li>
                    Unlimited email, text and phone support
                </li>
                <li>
                    One, two hours postpartum visits
                </li>
                <li>
                    One, two hour prenatal visits
                </li>
                <li>
                    Being “on call” from 38wks GA until labor
                    This is booked out but i will still attend if they deliver before 38
                </li>
            </ul>
        </p>
        </div>
</div>
<hr style="width: 100%; border: 1px solid gray;" />

<div class="row">
    <div class="col-sm-6">
        <p>
            3) The Moonbeam Package (postpartum)

            <ul>
                <li>
                    PP recovery visit w in 48 hrs of delivery
                </li>
                <li>
                    Assist w PP comfort, pain relief, healing as well as providing breastfeeding and newborn care guidance
                </li>
                <li>
                    Great chance for both parents to catch a nap!
                </li>
                <li>
                    Supply padsicles, herbal bath, sitz bath supplies?
                </li>
            </ul>
        </p>
    </div>
    <div class="col-sm-6">
    </div>
</div>
<hr style="width: 100%; border: 1px solid gray;" />

<div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
        <p>
            4) The Blooming Package (last minute hire)
        </p>
    </div>
</div>
<hr style="width: 100%; border: 1px solid gray;" />

<div class="row">
<div class="col-sm-6">
        <p>
            5) The Nectar Package (Lactation)
        </p>
    </div>
    <div class="col-sm-6">

        </div>
</div>
<hr style="width: 100%; border: 1px solid gray;" />

<div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
        <p>
            6) The Sunlight Package (childbirth education)

            <ul>
                <li>
                    Recommend to take between 28-32 wks
                </li>
                <li>
                    Comfort techniques
                    Breathe work
                    Partner involved technique

                </li>
                <li>
                    How to prep for labor
                </li>
                <li>
                    Covering the stages
                    Labor
                    PP care
                    Breastfeeding 101

                </li>
            </ul>
        </p>
    </div>
</div>



@code {

}
