@page "/Resources"


<h2 >Resources</h2>
<hr style="width: 100%; border: 1px solid gray;" />


<h4>
    Lactation Consultants
    </h4>

<h4>
    Midwives
</h4>

<h4>
    Oral Issues
    </h4>

<h4>
    Pelvic floor therapists
</h4>

<h4>
    Massage therapy
</h4>




@code {

}
