
@page "/AboutMe"

<h2 >About Me</h2>
<hr style="width: 100%; border: 1px solid gray;" />
<div class="row">
    <div class="col-sm-6">
        <p style="font-size:28px">
            “I’m the student doula and childbirth educator behind The Humming Doula and I’m so glad you’re here!
            <br />
            <br />
            Although in hindsight I can see that I had an interest in birth even as a child, I’d say my official journey into birth work began in the spring of 2024.  While working at a Women’s Clinic in my rural town in Wyoming, I was speaking to a midwife who mentioned that she had assisted in a birth that morning. She had mentioned that the mom had a doula and talked about the conjoined care that both her and the doula were able to provide. I remember thinking “a doula! This is what I’m here for!” That evening I searched the highs and the lows of the internet to learn everything I could on how to begin my journey serving women. What I found was raw and powerful stories of the women giving birth with doulas. Once I decided that this is what I had yearned for, I began noticing the community of doulas surrounding me, noticing the women birthing with doulas on their care teams and researching the relationship between birth and hospitals. I began devouring anything birth-related I could get my hands on. I watched shows, read birth stories and books about midwifery, attended birth worker meet-ups and began listening to all the podcasts I could manage. I remember feeling connected to the wide array of birth stories - cesarean births, unmedicated births, orgasmic births, loss, inductions, traumatic births, unassisted births, you name it.  I was amazed and searching for more.
            <br />
            <br />
            It quickly became clear to me that my fascination with birth was more than just a passing interest—it was a calling. I felt deeply drawn to support families through one of the most meaningful, magical, challenging, and transformative times in life: pregnancy, birth, and the postpartum period. At the heart of my work is a belief that each client knows what’s best for themselves and their baby. My role is to honor that intuition, respect their choices, and provide compassionate, informed support every step of the way.
            <br />
            <br />
            If you’re interested in learning more about my services or would like to connect about working together, I’d be honored to be part of your journey.”
        </p>
    </div>
    <div class="col-sm-6">
        <img style="border-radius:20px; max-width:93vw; margin-bottom:20px" src="pictures/self.jpg" alt="Overlay Image">
    </div>
</div>

 
@code {

}
