@page "/Credentials"

<h2 >Credentials and Education</h2>
<hr style="width: 100%; border: 1px solid gray;" />
<p style="font-size:28px">
    I am completing my studies through a company in Canada, BeboMia, to complete my Maternal Support Practitioner (MSP) Certification. This certification educates me in birth, postpartum and fertility space!
</p>
@code {

}
