@page "/Credentials"

<h2 style="text-align:center">Credentials and Education</h2>
<hr class="my-4" />
<p style="font-size:28px">
    I am completing my studies through a company in Canada, BeboMia, to complete my Maternal Support Practitioner (MSP) Certification. This certification educates me in birth, postpartum and fertility space!
</p>
@code {

}
