
<div class="roastedPeach footer" style="border-top:1px solid grey">
             This is a welcoming space; we honor all bodies, all stories of love, and all mothers and families   <img class="overlayFooter" src="pictures/floralpattern.jpg" alt="Overlay Image">

</div>

@code {

}
