
<div class="roastedPeach footer" style="border-top:1px solid grey">
    Helping you step into your power is my love language
    <img class="overlayFooter" src="pictures/floralpattern.jpg" alt="Overlay Image">

</div>

@code {

}
