@page "/Packages"

<div class="container">
    <h2 class="text-center">Packages Offered</h2>
    <hr class="my-4" />

    <!-- Package 1 -->
    <div class="row align-items-center mb-5">
        <div class="col-md-6 order-1 order-md-1">
            <p>
                1) The Hummingbird Package - $650 ($250 retainer fee *included in final price)
                <ul>
                    <li>Two, two hour prenatal visits</li>
                    <li>Being “on call” from 38wks GA until labor. This is booked out but I will still attend if they deliver before 38.</li>
                    <li>Two, two hour postpartum visits</li>
                    <li>10 hrs of postpartum doula support. Minimum of 3 hrs per session. This service is not meant to replace babysitting or housekeeping services.</li>
                    <li>Unlimited email, text and phone support</li>
                </ul>
            </p>
        </div>
        <div class="col-md-6 order-2 order-md-2">
            <img class="img-fluid rounded" src="pictures/hummingbird.png" alt="Hummingbird Package">
        </div>
    </div>
    <hr />

    <!-- Package 2 -->
    <div class="row align-items-center mb-5">
        <div class="col-md-6 order-2 order-md-1">
            <img class="img-fluid rounded" src="pictures/daylily.png" alt="Daylily Package">
        </div>
        <div class="col-md-6 order-1 order-md-2">
            <p>
                2) The Daylily Package - $500 ($175 retainer fee *included in final price)
                <ul>
                    <li>Unlimited email, text and phone support</li>
                    <li>One, two hour postpartum visit</li>
                    <li>One, two hour prenatal visit</li>
                    <li>Being “on call” from 38wks GA until labor. This is booked out but I will still attend if they deliver before 38.</li>
                </ul>
            </p>
        </div>
    </div>
    <hr />

    <!-- Package 3 -->
    <div class="row align-items-center mb-5">
        <div class="col-md-6 order-1 order-md-1">
            <p>
                3) The Blooming Package - $300 ($125 retainer fee *included in final price)
            </p>
        </div>
        <div class="col-md-6 order-2 order-md-2">
            <img class="img-fluid rounded" src="pictures/blooming.png" alt="Blooming Package">
        </div>
    </div>
    <hr />

    <!-- Package 4 -->
    <div class="row align-items-center mb-5">
        <div class="col-md-6 order-2 order-md-1">
            <img class="img-fluid rounded" src="pictures/moonbeam.png" alt="Moonbeam Package">
        </div>
        <div class="col-md-6 order-1 order-md-2">
            <p>
                4) The Moonbeam Package (postpartum)
                <ul>
                    <li>PP recovery visit within 48 hrs of delivery</li>
                    <li>Assist with PP comfort, pain relief, healing as well as providing breastfeeding and newborn care guidance</li>
                    <li>Great chance for both parents to catch a nap!</li>
                    <li>Supply padsicles, herbal bath, sitz bath supplies?</li>
                </ul>
            </p>
        </div>
    </div>
    <hr />

    <!-- Package 5 -->
    <div class="row align-items-center mb-5">
        <div class="col-md-6 order-1 order-md-1">
            <p>
                5) The Sunlight Package - $125
                <ul>
                    <li>
                        There’s a lot of misinformation out there surrounding pregnancy, labor, birth, and the postpartum period. The more clearly you understand this beautiful, natural, innate process, the less fear you'll carry and the more confident and prepared you’ll feel. Let’s schedule a session to sharpen the greatest tools you can have, yourself and your mind!
                    </li>
                </ul>
            </p>
        </div>
        <div class="col-md-6 order-2 order-md-2">
            <img class="img-fluid rounded" src="pictures/sunlight.png" alt="Sunlight Package">
        </div>
    </div>
    <hr />

    <!-- Package 6 -->
    <div class="row align-items-center mb-5">
        <div class="col-md-6 order-2 order-md-1">
            <img class="img-fluid rounded" src="pictures/nesting.png" alt="Nesting Package">
        </div>
        <div class="col-md-6 order-1 order-md-2">
            <p>
                6) The Nesting Package - $100
                <ul>
                    <li>
                        There’s a lot of misinformation out there surrounding pregnancy, labor, birth, and the postpartum period. The more clearly you understand this beautiful, natural, innate process, the less fear you'll carry and the more confident and prepared you’ll feel. Let’s schedule a session to sharpen the greatest tools you can have, yourself and your mind!
                    </li>
                </ul>
            </p>
        </div>
    </div>
    <hr />
</div>

@code {

}