@page "/Packages"


<h2 style="text-align:center">Packages Offered</h2>

<hr style="width: 100%; border: 1px solid gray;" />

<div class="row">
<div class="col-sm-6">
        <p>
            1) The Hummingbird Package - $650 ($250 retainer fee *included in final price)
            <ul>
                <li>
                    Two, two hour prenatal visits
                </li>
                <li>
                    Being “on call” from 38wks GA until labor
                    This is booked out but i will still attend if they deliver before 38
                </li>
                <li>
                    Two, two hours postpartum visits
                </li>
                <li>
                    10 hrs of postpartum doula support
                    Minimum of 3 hrs per session
                    This service is not meant to replace babysitting or housekeeping services
                </li>
                <li>
                    Unlimited email, text and phone support
                </li>
            </ul>
        </p>
    </div>
    <div class="col-sm-6">
        <img height="100%" width="100%" style="border-radius:15px;" src="pictures/hummingbird.png" alt="Overlay Image">

        </div>
</div>
<hr style="width: 100%; border: 1px solid gray;" />


<div class="row">
    <div class="col-sm-6">
        <img height="100%" width="100%" style="border-radius:15px;" src="pictures/daylily.png" alt="Overlay Image">

    </div>
    <div class="col-sm-6">
        <p>
            2) The Daylily Package - $500 ($175 retainer fee *included in final price)

            <ul>
                <li>
                    Unlimited email, text and phone support
                </li>
                <li>
                    One, two hours postpartum visits
                </li>
                <li>
                    One, two hour prenatal visits
                </li>
                <li>
                    Being “on call” from 38wks GA until labor
                    This is booked out but i will still attend if they deliver before 38
                </li>
            </ul>
        </p>
        </div>
</div>

<hr style="width: 100%; border: 1px solid gray;" />

<div class="row">

    <div class="col-sm-6">
        <p>
            3) The Blooming Package - $300 ($125 retainer fee *included in final price)
        </p>
    </div>
    <div class="col-sm-6">
        <img height="100%" width="100%" style="border-radius:15px;" src="pictures/blooming.png" alt="Overlay Image">

    </div>
</div>

<hr style="width: 100%; border: 1px solid gray;" />

<div class="row">
    <div class="col-sm-6">
        <img height="100%" width="100%" style="border-radius:15px;" src="pictures/moonbeam.png" alt="Overlay Image">

    </div>
    <div class="col-sm-6">
        <p>
            4) The Moonbeam Package (postpartum)

            <ul>
                <li>
                    PP recovery visit w in 48 hrs of delivery
                </li>
                <li>
                    Assist w PP comfort, pain relief, healing as well as providing breastfeeding and newborn care guidance
                </li>
                <li>
                    Great chance for both parents to catch a nap!
                </li>
                <li>
                    Supply padsicles, herbal bath, sitz bath supplies?
                </li>
            </ul>
        </p>
    </div>
   
</div>

<hr style="width: 100%; border: 1px solid gray;" />

<div class="row">
    
    <div class="col-sm-6">
        <p>
            5) The Sunlight Package - $125

            <ul>
                <li>
                    There’s a lot of misinformation out there surrounding pregnancy, labor, birth, and the postpartum period. The more clearly you understand this beautiful, natural, innate process, the less fear you'll carry and the more confident and prepared you’ll feel. Let’s schedule a session to sharpen the greatest tools you can have, yourself and your mind!
                </li>
               
            </ul>
        </p>
    </div>
    <div class="col-sm-6">
        <img height="100%" width="100%" style="border-radius:15px;" src="pictures/sunlight.png" alt="Overlay Image">

    </div>
</div>

<hr style="width: 100%; border: 1px solid gray;" />


<div class="row">

    <div class="col-sm-6">
        <img height="100%" width="100%" style="border-radius:15px;" src="pictures/nesting.png" alt="Overlay Image">

    </div>
    <div class="col-sm-6">
        <p>
            5) The Nesting Package - $100

            <ul>
                <li>
                    There’s a lot of misinformation out there surrounding pregnancy, labor, birth, and the postpartum period. The more clearly you understand this beautiful, natural, innate process, the less fear you'll carry and the more confident and prepared you’ll feel. Let’s schedule a session to sharpen the greatest tools you can have, yourself and your mind!
                </li>

            </ul>
        </p>
    </div>
 
</div>

<hr style="width: 100%; border: 1px solid gray;" />



@code {

}
