@page "/"
@page "/Home"

<h1 style="text-align:center; margin-bottom:0px"> ⊱ THE HUMMING DOULA ⊰ </h1>
<h4 style="text-align:center; margin-bottom:20px">
    A woman, as long as she lives, will remember how she was made to feel at birth
</h4>

 
<IntakeForm/>


